* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.hero-header {
  background: #1f2937;
  padding: 0 160px;
  margin: 0;
}

.header, a, p {
  font-size: 18px;
  color: #e5e7eb;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

ul {
  display: flex;
  gap: 16px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0;
  gap: 8px;
}

.hero-text {
  width: 400px;
}

.hero-image {
  background-color: grey;
  color: white;
  width: 600px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: 700;
  border-radius: 6px;
  padding: 4px 16px;
  border: none;
  margin-top: 8px;
}

li {
 list-style: none;
}
a {
 text-decoration: none;
}
h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.information, .blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information {
  padding: 0 240px;
  margin: 32px;
}

.information h2 {
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 32px;
}

.blocks {
  flex-direction: row;
  gap: 8px;
}

.block-style {
  border: 3px solid #3882f6;
  width: 120px;
  height: 120px;
  border-radius: 8px;
}

.block-container p {
  text-align: center;
  color: black;
  font-size: 16px;
}

.block-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  background: #e5e7eb;
  padding: 80px 240px;
  display: flex;
  flex-direction: column;
}

.quote p {
  font-size: 36px;
  color: #3b4553;
  font-style: italic;
  font-weight: lighter;
}

.quote strong {
  text-align: right;
}

.call-action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 240px;
  padding: 20px 0;
  border-radius: 8px;
  gap: 64px;
  background: #3882f6;
}

.call-action button {
  border: 1px solid #e5e7eb;
}

.action-text {
  color: #e5e7eb;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f2937;
  color: #e5e7eb;
  font-size: 10px;
  padding: 16px 0;
}
